{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}
	<div class="pageheader">
		<h1>Edit "<b>{{event.eventName}}</b>"</h1>
		<hr>
	</div>
	<div class="container">
		<a class="btn btn-info" href="/">Back to all Events</a>
		<br>
		<br>
		{{form_start(form)}}
		{{form_widget(form)}}
		{{form_end(form)}}
	</div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="../css/style.css">
{% endblock %}