html{
	position: relative;
	min-height: 100%;
}
body{
	margin-bottom: 140px;
	font-family: 'Lato', sans-serif!important;
	color: #444;
}
.navbar{
	background-color: #E52236;
}
.nav-link{
	color: #fff!important;
}
.nav-link:hover{
	color: #fff!important;
}
.navbar-brand{
	font-family: 'Handlee', cursive;
	color: #fff!important;
	font-size: 1.5em!important;
	font-weight: bold;
}
.pageheader{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}
hr{
	border-color: rgba(68,68,68,.5);
}
.card{
	border: none;
	margin: 15px;
}
.cardName{
	margin: 10px 0px;
}
.cardName a{
	text-decoration: none;
	color: #444;
	transition: all .5s;
}
.cardName a:hover{
	border-bottom: 1px solid rgba(68,68,68,.5);
}
.cardImage{
	width: 100%;
	margin-bottom: 5px;
	transition: all .5s;
	height: 333px;
}
.cardImage:hover{
	transform: scale(1.025, 1.025);
}
.cardImage img{
	width: 100%;
	height: 100%;
}
.fas, .far{
	font-size: 1.1em;
	padding-right: 10px;
}
.row{
	display: flex;
	justify-content: center;
}
.detailview{
	display: flex;
	margin-top: 50px;
}
.detailimage{
	margin-right: 25px;
}
.detailimage img{
	width: 100%;
}
.detailinfos{
	border-left: 1px solid rgba(68,68,68,.5);
	padding-left: 25px;
}
.date{
	display: flex;
}
.alert{
	text-align: center;
	font-size: 1.5em;
}
.editbuttons{
	display: flex;
	justify-content: center;
}
.editbuttons a{
	width: 25%;
	margin: 0 5px;
}
.footer{
	width: 100%;
	height: 125px;
	background-color: #222;
	display: flex;
	position: absolute;
	bottom: 0;
}
.footer p{
	color: #fff;
	font-size: 1.5em;
	text-align: center;
	margin: auto;
}